<!DOCTYPE html>
<html>

<body>
    <div ng-include="'templates/components/app-header.html'"></div>
    <section class="container block-container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <span class="space-30"></span>
                <strong>{{selectImageLabel}}</strong>
                <span class="space-30"></span>
                <div primary-button ng-click="selectImage()" aria-label="{{button.select}}" 
                     type="{{button.select}}"></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <span class="space-30"></span>
                <!-- Show/Hide Functionality upon Image Selection -->
                <div ng-if="imageAdded">
                    <img class="crop-placeholder-image center-block col-xs-4 col-sm-4 col-md-4">
                    <span class="space-10"></span>
                    <p class="success text-center">{{imageSuccess}}</p>
                </div>
            </div>
    </section>
    <section>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 placed-bottom-0 p-0 m-0">
                <div ng-if="!imageAdded" primary-button-rect ng-click="goToSeedingDate()" 
                     aria-label="{{button.skipncontinue}}" type="{{button.skipncontinue}}"></div>
                <!-- If Image Selected, Change the Button label to 'Next' -->
                <div ng-if="imageAdded" primary-button-rect ng-click="goToSeedingDate()" 
                     aria-label="{{button.next}}" type="{{button.next}}"></div>
            </div>
        </div>
    </section>
</body>

</html>